.card-design {
  width: 100%;
  height: 320px;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem 0;
}

.card-design h1 {
  text-align: center;
}

.card-design .additional {
  width: 100%;
  height: 240px;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card-design:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card-design .user-card.img1 {
  background: url("../images/resource/svgs/8392588_3895249.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.card-design .user-card.img2 {
  background: url("../images/resource/svgs/images1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.card-design .user-card.img3 {
  background: url("../images/resource/svgs/13246757_5174562.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.card-design.one .additional {
  background: rgb(4,209,209);
  background: linear-gradient(160deg, rgba(4,209,209,1) 0%, rgba(54,57,164,1) 71%);
}

.card-design.one .additional .user-card {
  width: 100%;
  height: 240px;
  position: relative;
  float: left;
}

.card-design.one .general {
  width: 100%;
  height: auto;
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  padding: 1em;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  transform: translateY(calc(60px + 7em));
  transition: transform 0.3s;
}

.card-design:hover .general {
  transform: translateY(calc(70px + 1em));
}

.card-design .data .content {
  padding: 5px;
  position: relative;
  z-index: 1;
}

.card-design .text {
  height: 70px;
  margin: 0;
}

.card-design .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  color: #fff;
  position: relative;
}

.card-design .general .data {
  height: 100%;
}

.card-design .general .content p {
  padding-top: 1em;
  font-size: 16px;
  font-weight: 500;
  height: 100px;
}


/* 
*
*  Responsive 
*
*/

@media (max-width: 576px) {
  .card-design.one .general {
    transform: translateY(calc(60px + 3em));
  }
  .card-design:hover .general {
    transform: translateY(calc(0px));
  }
}

@media (min-width: 576px) {
  .card-design.one .general {
    transform: translateY(calc(60px + 3em));
  }
  .card-design:hover .general {
    transform: translateY(calc(0px));
  }
}

@media (min-width: 768px) {
  .card-design.one .general {
    transform: translateY(calc(60px + 3em));
  }
  .card-design:hover .general {
    transform: translateY(calc(-70px + 1em));
  }
}


@media (min-width: 992px) {
  .card-design.one .general {
    transform: translateY(calc(-8px + 8em));
  }
  .card-design:hover .general {
    transform: translateY(calc(-30px + 0em));
  }
}


@media (min-width: 1024px ) {
  .card-design.one .general {
    transform: translateY(calc(10px + 6em));
  }
  .card-design:hover .general {
    transform: translateY(calc(0px));
  }
}

@media (min-width: 1365px ) {
  .card-design.one .general {
    transform: translateY(calc(0px + 6em));
  }
  .card-design:hover .general {
    transform: translateY(calc(0px));
  }
}

@media (min-width: 1680px ) {
  .card-design.one .general {
    transform: translateY(calc(-30px + 7em));
  }
  .card-design:hover .general {
    transform: translateY(calc(-20px));
  }
}



